.news {
    position: relative;
    padding: 140px 0;
    background-image: linear-gradient(45deg, #3c7fd4 0%, #24ccfa 100%);

    &__slider {
        padding-top: 90px;
    }

    &__item {
        background: #ffffff;
        margin-bottom: 60px;
    }

    &__preview {
        display: block;
        width: 100%;
        height: auto;
        max-height: 240px;
    }

    &__body {
        padding: 25px 20px;
    }

    &__heading {
        @include font-heading;
        font-size: 22px;
        margin: 0 0 10px 0;
        line-height: 34px;
    }

    &__text {
        @include font-text;
        line-height: 30px;
        margin: 0 0 30px 0;
    }

    &__author {
        @include flex;
        align-items: center;

        &-avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 20px;
        }

        &-name {
            @include font-main($font-main, 18px);
            text-transform: uppercase;
            display: block;
            margin: 0 0 10px 0;
        }
    }

    &__date {
        @include font-main($main-color, 14px);
        display: block;
    }
}