.btn {
    @include link-res;
    @include font-main($font-main, 14px);
    text-transform: uppercase;
    line-height: 22px;
    display: inline-block;
    padding: 20px 40px 18px;
    border: 1px solid $font-main;
    text-align: center;

    &:hover {
        background-color: $main-color;
        color: #ffffff;
        border: 1px solid transparent;
        transition: .3s ease-in-out;
    }

    &--project {
        margin-bottom: 60px;
    }

    &-s {
        width: 140px;
    }

    &--lg {
        width: 190px;
    }
}