.container {
    margin: 0 auto;
    position: relative;

    @include scr-min(1200px) {
        width: 1170px;
    }

    &--gallery {
        text-align: center;
    }

    &--contact {
        box-sizing: border-box;
        padding: 55px 60px 50px;
        background: #fff;

        position: absolute;
        right: 0;
        bottom: -150px;
        left: 0;
        z-index: 1;

        @include scr-min(812px) {
            width: 770px;
        }
    }

    &--footer {
        @include flex-wrapped;
        align-content: space-between;

        @include scr-min(1200px) {
            width: 770px;
        }
    }
}