.logo {
  margin-right: auto;

  &--footer {
    margin-bottom: 40px;
    @include respond-to(phone) {
      margin-bottom: 20px;
    }
  }

  @include scr-max($desktop) {
    text-align: center;
    width: 100%;
  }
}
