.container {
    margin: 0 auto;
    position: relative;
    ;

    @include scr-min(1200px) {
        width: 1170px;
    }
}

.section-heading {
    @include font-heading;
    font-family: 'GothamMedium';
    margin: 0;
    text-align: center;
    position: relative;
    padding-top: 20px;

    &::before {
        content: '';
        height: 1px;
        width: 100px;
        background-color: $font-main;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    &--white {
        color: #ffffff;

        &::before {
            background-color: #fff;
        }
    }
}

.logo {
    margin-right: auto;
}

.nav {
    &__list {
        @include flex();
        @include list-res();
    }

    &__item:not(:last-child) {
        margin-right: 60px;
    }

    &__link {
        padding: 25px 10px;
        @include link-res();
        @include font-main(#ffffff, 14px);
        text-transform: uppercase;
        display: inline-block;
        line-height: 0;

        &::before {
            content: '';
            display: inline-block;
            width: 9px;
            height: 9px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            background-color: transparent;
            margin-right: 14px;
            transition: .3s;
            box-sizing: border-box;
        }

        &:hover::before,
        &:focus::before {
            background: #ffffff;
        }
    }

    &--header {
        margin-right: 75px;
    }
}

.social {
    &__list {
        @include flex();
        @include list-res();
    }

    &__item:not(:last-child) {
        margin-right: 20px;
    }

    &__link {
        @include link-res();
        @include flex-centered;
        width: 40px;
        height: 40px;
        color: #ffffff;
        border: 1px solid rgba(255, 255, 255, .4);
        border-radius: 50%;
        background: transparent;
        transition: .3s ease-in-out;
        box-sizing: border-box;

        &:hover {
            background: #ffffff;
            color: $main-color;
        }
    }

    i {
        font-size: 16px;
    }
}

.btn {
    @include link-res;
    @include font-main($font-main, 14px);
    text-transform: uppercase;
    line-height: 22px;
    display: inline-block;
    padding: 20px 40px 18px;
    border: 1px solid $font-main;
    text-align: center;

    &:hover {
        color: #ffffff;
        background-color: $main-color;
        transition: .3s ease-in-out;
    }

    &--project {
        margin-bottom: 60px;
    }

    &-s {
        width: 140px;
    }

    &--lg {
        width: 190px;
    }
}