.hero {
  position: relative;
  padding: 50px 0 46px;
  background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);

  &__body {
    margin: 0 auto;
    padding: 250px 40px 224px;
    text-align: center;
    position: relative;

    @include respond-to(tablet) {
      padding: 150px 30px;
    }

    @include respond-to(phone) {
      padding: 80px 15px;
    }
  }

  &__heading {
    @include font-heading;
    color: white;
    font-size: rem(80);
    margin: 0 0 15px 0;
    letter-spacing: 3.8px;

    @include respond-to(phone) {
      letter-spacing: 0;
    }
  }

  &__subheading {
    @include font-main(#ffffff, rem(18));
    letter-spacing: 5.4px;
    text-transform: uppercase;
    margin: 0;
  }

  &::before {
    @include overlay(url('../img/hero-overlay.png'));
  }

  .scroll-down {
    display: block;
    margin: 0 auto;
    content: url('../img/icons/arrow-down.png');
    padding: 18px 16px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;

    &:hover {
      transform: rotate(360deg);
      transition: 0.5s ease-in-out;
    }
  }
}
